<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.raon.mapper.CategoryMapper">
    <insert id="create" parameterType="String">
        INSERT INTO Category(name) VALUES ( #{name} )
    </insert>

    <update id="update" parameterType="com.raon.domain.category.CategoryEntity">
        UPDATE Category
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM Category
        WHERE id = #{id}
    </delete>

    <select id="findById" resultType="com.raon.domain.category.CategoryEntity">
        SELECT id, name
        FROM Category
        WHERE id = #{id}
    </select>
</mapper>